<main>
  <ul class="users--list">
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
    <%= render 'user_list' %>
  </ul>
</main>