<section class="details--container">
  <article class="first--box">
    <section class="user--info">
       <%= render 'user_list' %>
    </section>
    <section class="bio--container">
      <h5>Bio</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Harum et quae consequuntur, cupiditate earum vel molestiae d
        electus officia nostrum quibusdam suscipit facere dolorum 
        excepturi odit ut dolores vitae magni, fugit corporis in facilis tempore 
        necessitatibus. Maxime pariatur, alias quae sint 
        exercitationem fuga ipsa voluptatibus! 
        Esse ab facere reiciendis beatae doloribus.
      </p>
    </section>
    <ul class="post--list">
      <%= render 'posts/post_list' %>
      <%= render 'posts/post_list' %>
      <%= render 'posts/post_list' %>
      <%= render 'posts/post_list' %>
      <%= render 'posts/post_list' %>
    </ul>
  </article>
  <button class="btn">See all posts</button>
</section>