<section>
  <article class="post--box">
    <section class="post--box--header">
      <p><%= @post.title %> by <%= @post.author.name %></p>
      <div class="likes--and--comments">
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </section>
    <section class="post--content">
      <p><%= @post.text %></p>
      <%= button_to "Like", user_post_likes_path(current_user, @post), data: { turbo_method: :post }, class: "btn" %>
    </section>
  </article>
  <article>
     <ul class="comments--container">
      <% if @post.comments.count > 0 %>
        <% @post.comments.each do |comment| %>
          <%= render 'comment', comment: comment %>
        <% end %>
      <% else %>
        <h3>This post has no comment at the moment<h3>
      <% end %>
    </ul>
    <%= form_with model: [@post, @post.comments.build], url: user_post_comments_path(current_user, @post) do |f| %>
      <div>
        <%= f.label :text %><br>
        <%= f.text_field :text%>
      </div>
      <div>
        <%= f.submit "Add comment" %>
      </div>
    <% end %>
  </article>
</section>